.App {
  font-family: sans-serif;
  text-align: center;
}
body{
  background-color: #fffced;
}
/* Add Name Input */
input {
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
}
input[type="text"] {
  width: 200px;
}
h1 {
  color: rgb(119, 0, 255);
}
h1:hover {
  animation: animated 5.0s;
}

.name-tag {
  background-color: rgb(119, 0, 255);
  padding: 10px 0 50px;
  border-radius: 50px;
  width: 350px;
  margin: 20px 10px;
  display: inline-block;
  position: relative;
}
.name-tag:hover {
  animation: animate 0.4s;
}
.title {
  color: rgb(254, 161, 22);
  margin: 0;
  font-size: 40px;
}
.subtitle {
  color: rgb(254, 161, 22);
  margin: 0;
}
.name {
  background-color: rgb(255, 158, 31);
  margin: 10px 0;
  font-size: 60px;
  height: 90px;
  font-family: "Permanent Marker", Arial, Helvetica, sans-serif;
}
h2 {
  color: rgb(119, 0, 255);
}
h2:hover {
  animation: animate 0.4s;
}
.name-tag__delete {
  position: absolute;
  padding: 5px 8px;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.name-tag__delete:hover {
  background-color: rgb(254, 161, 22);
  border-radius: 50%;
  transform: translateY(0) scale(2);
  animation: animate 0.4s;
}



@keyframes animated{
    0%{
        transform: rotate(0deg) translateX(0px);
    }
    25%{
        transform: rotate(360deg) translateX(260px);
    }
    50%{
        transform: rotate(0deg) translateX(0px);
    }
    75%{
        transform: rotate(360deg) translateX(260px);
    }
    100%{
        transform: rotate(0deg) translateX(0px);
    }
}

@keyframes animate{
    0%{
        transform: rotate(0deg) translateX(0px);
    }
    25%{
        transform: rotate(-10deg) translateX(-10px);
    }
    50%{
        transform: rotate(0deg) translateX(0px);
    }
    75%{
        transform: rotate(10deg) translateX(10px);
    }
    100%{
        transform: rotate(0deg) translateX(0px);
    }
}
